a {
    text-decoration: none;
    color: $colorTexPrincipal;
}
.nav-horizontal{
    width: 100%;
    height: 5rem;
    padding-right: 5rem;
    position: fixed;
    background: linear-gradient(135deg, #222940 38.02%, #80A7BF 100%);
    z-index: 3;
    font-size: 1.5rem;
    ul{
        width: 100%;
        height: 100%;
        @include flex(row,wrap,center,center);
        li{
            margin-right: 2rem;
            margin-left: 2rem;
            list-style: none;
            :hover{
                color: brown;
            }
        }
    }
}

.nav-vertical {
    position: fixed;
    width: 5rem;
    height: 100%;
    border-radius: 0px 0px 30px 0px;
    background: linear-gradient(135deg, #222940 17.71%, rgba(60, 76, 100, 0.90) 66.15%, rgba(128, 167, 191, 0.85) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    @include grid(5rem,5rem 1fr,center,center,"home" "centro");
    .button-central{
        img{
            width: 2.5rem;
        }
        display: grid;
        grid-area: centro;
        height: 30rem;
        align-items: center;
        justify-content: center;
    }
    .button-home{
        grid-area: home;
        img{
            width: 3.5rem;
        }
    }
    span{
        :hover{
            color: brown;
        }
    }
}
header img {
    margin-top: 5rem;
    width:100%;
    height: 14rem;
}
@media (max-width: 710px){
    .nav-horizontal{
        font-size: 1rem;
        ul{
            li{
                margin-right: 1rem;
                margin-left: 1rem;
            }
        }
    }
    .nav-vertical {
        .button-home{
            font-size: 1rem;
        }
    }
}