.curiosidades {
    height: 36vh;
    width: 62.5vw;
    background: rgba(217, 217, 217, 0.85);
    border: 1px solid #000;
    display: inline-block;
    position: relative;
    margin-bottom: 5rem;
    margin-top: 5rem;
    @include flex(column,wrap,center,center);
        div {
            color: #000;
            text-align: center;
            width: 54vw;
            height: 100%;
            overflow: hidden;
            @include flex(column,wrap,center,center);
            h2 {
                margin-bottom: 2rem;
            }
            p{
                width: 48vw;
            }
        }
        img {
            position: absolute;
            width: 11rem;
            height: 11rem;
            z-index: 1;
        }
        .img-1{
            left: -40px;
            top: -80px;
        }
        .img-2{
            right: -40px;
            bottom: -60px;
        }
}
@media (max-width: 1220px){
    .curiosidades{
        height: 50vh;
    }
}
@media (max-width: 870px){
    .curiosidades{
        height: 80vh;
    }
}
@media (max-width: 590px){
    .curiosidades{
        height: 110vh;
        .img-1{
            left: -20px;
            top: -80px;
        }
        .img-2{
            right: -20px;
            bottom: -60px;
        }
    }
}
@media (max-width: 430px){
    .curiosidades{
        height: 140vh;
        width: 100%;
        div{
            width: 100%;
        }
        .img-1{
            left: 20px;
            top: -80px;
        }
        .img-2{
            right: 20px;
            bottom: -60px;
        }
    }
}