*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background-image:url(../assent/background.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}
